name: My First GitHub Action
on:
  push:
jobs:
  hello-job:
    runs-on: ubuntu-latest
    steps:
      - name: Step:1 Checkout code
        uses: actions/checkout@v4
      - name: Step:2 Say Hello
        run: echo "Hello Github Actions"
      - name: Step:3 List files
        run: ls
      - name: Step:4 Current Location
        run: pwd
