name: My First Github actions Workflow
on:
  push:
jobs:
  checkout-job:
    runs-on: ubuntu-latest
    steps:
     - name: Code checkout
       uses: actions/checkout@v4
     - name: List files
       run: ls
     
