name: My First GitHub Actions Workflow
on:
  push:
jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Code Chekout
        uses: actions/checkout@v4
      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with: 
          node-version: 18
      - name: Verify node is available or not
        run: node -v
      - name: Install dependencies
        run: npm install
      - name: Run test
        run: npm test
  build-job:
    needs: test-job
    runs-on: ubuntu-latest
    steps:
      - name: Code Chekout
        uses: actions/checkout@v4
      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with: 
          node-version: 18
      - name: Verify node is available or not
        run: node -v
      - name: Install dependencies
        run: npm install
      - name: Run build
        run: npm run build
  secret-job:
   needs: build-job
   runs-on: ubuntu-latest
   steps:
     - name: Get Secret from Github Secrets
       run: echo "Secret value is ${{ secrets.MY_SECRET_MESSAGE }}
      
