name: My First Github actions Workflow
on:
  push:
env:
  APP_NAME: My github actions application
  ENVIRONMENT: Development
jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Verify node
        run: node -v
      - name: Code test
        run: npm test
  build-job:
    runs-on: ubuntu-latest
    needs: test-job
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Verify node
        run: node -v
      - name: Code build
  environment-job:
    runs-on: ubuntu-latest
    needs: build-job
    steps:
     - name: Reading Environment variables
       run: |
        echo "Appliction name is $APP_NAME"
        echo "Environment is $ENVIRONMENT"
