name: My First GitHub Actions Workflow
on:
  push:
env:
  APP_NAME: Github actions
  Environment: Development
jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Code Chekout
        uses: actions/checkout@v4
      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with: 
          node-version: 18
      - name: Verify node is available or not
        run: node -v
      - name: Install dependencies
        run: npm install
      - name: Run test
        run: npm test
  build-job:
    needs: test-job
    runs-on: ubuntu-latest
    steps:
      - name: Code Chekout
        uses: actions/checkout@v4
      - name: Setup Nodejs
        uses: actions/setup-node@v4
        with: 
          node-version: 18
      - name: Verify node is available or not
        run: node -v
      - name: Install dependencies
        run: npm install
      - name: Run build
        run: npm run build
  secret-job:
   needs: build-job
   runs-on: ubuntu-latest
   steps:
     - name: Get Secret from Github Secrets
       run: echo "Secret value is ${{ secrets.MY_SECRET_MESSAGE }}"
  environment-job:
   needs: secret-job
   runs-on: ubuntu-latest
   steps:
     - name: Accessing env varibales
       run: |
         echo "Application name is $APP_NAME"
         echo "Environment is $Environment"
  artifact-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Creating file
        run: echo "Hello world!!! > output.txt"
      - name: Uploading the artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: output.txt
  artifact-download:
    runs-on: ubuntu-latest
    needs: artifact-upload
    steps:
      - name: Downloading the artifact
        uses: actions/download-artifact@v4
        with:
          name: build-output

      - name: Read file
        run: cat output.txt
         
      
