name: My First Github actions Workflow
on:
  push:
env:
  APP_NAME: Github Actions Demo
  ENVIRONMENT: Development
jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
     - name: Step-1  Code checkout
       uses: actions/checkout@v4
     - name: Step-2 Setup node
       uses: actions/setup-node@v4
       with:
         node-version: 18
     - name: Setp-3  Verify node
       run: node -v
     - name: Step-4 Install dependencies
       run: npm install
     - name: Step-5 Run code test
       run: npm test
  build-job:
    runs-on: ubuntu-latest
    needs: test-job
    steps:
      - name: Step-1  Code checkout
        uses: actions/checkout@v4
      - name: Step-2 Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Setp-3  Verify node
        run: node -v
      - name: Step-4 Install dependencies
        run: npm install
      - name: Step-5 Code build
        run: npm run build
  secret-job:
    runs-on: ubuntu-latest
    needs: build-job
    steps:
      - name: Fetching Secrets
        run: echo "Secret value is ${{ secrets.MY_SECRET_MESSAGE }}"
  env-job:
    runs-on: ubuntu-latest
    needs: secret-job
    steps:
      - name: Fetching environment values
        run: |
          echo "Application name is $APP_NAME"
          echo "Environment is $ENVIRONMENT"
  upload-artifact-job:
    runs-on: ubuntu-latest
    needs: env-job
    steps:
      - name: Create file
        run: echo "Hello git hub actions!!!" > output.txt
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: output.txt
  download-artifact-job:
    runs-on: ubuntu-latest
    needs: upload-artifact-job
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build-output
      - name: Read file
        run: cat output.txt
  deploment-job:
    runs-on: ubuntu-latest
    needs: download-artifact-job
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build-output
      - name: Deployment to server
        run: |
          echo "Deployment Started"
          mkdir deploy
          mv output.txt deploy/
          echo "Deployment completed successfully"
          echo "Deployment content:"
          cat deploy/output.txt
