name: My First Github actions Workflow
on:
  push:
jobs:
  hello-job:
    runs-on: ubuntu-latest
    steps:
     - name: Say Hello
       run: echo "Hello from job1"
  bye-job:
    runs-on: ubuntu-latest
    needs: hello-job
    steps:
     - name: Say Bye
       run: echo "Bye from job2"    
