name: My First Github actions Workflow
on:
  push:
env:
  APP_NAME: My github actions application
  ENVIRONMENT: Development
jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Verify node
        run: node -v
      - name: Code test
        run: npm test
      - name: Test result
        run: echo "Test Passed"
         
